.latest-alert-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.latest-alert {
  min-height: 125px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 20px;
  border-radius: 10px;
  width: 62%;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
  box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
}

#latest-alert-header {
  height: 75%;
}

#latest-alert-timestamp {
  height: 25%;
  margin-bottom: 25px;
}

#latest-alert-title {
  font-size: 50px;
  margin-bottom: 10px;
  height: 45%;
}

#latest-alert-description {
  height: 25%;
  font-size: 20px;
}

#no-alerts {
  padding: 20px;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  width: 62%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
  box-shadow: 10px 10px 5px 0px rgba(194, 194, 194, 1);
}

#warning {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}

.alerts-table {
  width: 100%;
}

.alerts-table th {
  background-color: #e1e6eb;
  border-right: 1px solid white;
}

.alerts-table td, .alerts-table th {
  text-align: left;
  padding: 6px 12px 12px 6px;
}

.alerts-table tr:nth-child(even) {
  background-color: #f2f4f5;
}
