/* These all need to be refactored and more explicitly defined... */

#studentid div{
  display: flex;
  align-items: center;
  justify-content: center;
}

#studentid input{
  border: none;
  height: 100px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 50px;
  width: 80%;
  align-self: center;
  background-color: rgb(237, 237, 237)
}

#profile-container {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  width: 60%;
  -webkit-box-shadow: 0px -6px 87px -2px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px -6px 87px -2px rgba(194, 194, 194, 1);
  box-shadow: 0px -6px 87px -2px rgba(194, 194, 194, 1);
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 40px;
}

#profile-container:hover {
  cursor: pointer;
}

#profile-container #identity {
  font-size: 40px;
}

#datecontainer {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-left: 10%;
  text-transform: uppercase;
  border: none;
}

#datecontainer #to,
#datecontainer #from {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

#profile-modal {
  left: 0;
  margin-left: 2.5%;
  width: 95%;
  height: 90%;
  align-items: center;
  display: none;
}

#profile-modal .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#profile-modal .modal-wrapper {
  width: 70%;
  height: 100%;
}

#profile-modal #title {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 60px;
  border-bottom: 1px solid black;
}

#profile-modal #header {
  padding-bottom: 5%;
  font-size: 25px;
  padding-top: 2%;
  border-bottom: 1px solid black;
}

#profile-modal #history {
  display: flex;
  flex-direction: column;
}

#profile-modal #MAC-address {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard-row {
  margin-top: 20px;
}

.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}



